@model List<Appointment>
@{
    ViewData["Title"] = "Всі записи";
}
<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.28.7, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <style>
        body {
            font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .u-text-palette-1-base svg {
            fill: #8bc34a;
        }

        .text-primary {
            color: #8bc34a !important;
        }

        .bg-image:after {
            background: none;
        }
    </style>
</head>

<body class="u-body">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8">
                <h2 class="site-section-heading font-weight-light text-black text-center">Наші записи</h2>
                <button type="button" style="margin: 3px; width: 32.8%; top:5%; left: 38%;" class="btn btn-success col-lg-3 col-xs-3" onclick="location.href='@Url.Action("AddAppointment", "Admin")';return false;"><span style="font-size:larger;"><span style="margin-right: 5px" class="glyphicon glyphicon-plus"></span>Додати</span></button>
            </div>
        </div>
        <table class="table table-striped table-hover table-responsive table-condensed">
            <tr>
                <th>
                    <h3 style="font-size: medium"><span style="font-weight:bolder">@Html.DisplayNameFor(model => model[0].Id)</span></h3>
                </th>
                <th>
                    <h3 style="font-size: medium"><span style="font-weight:bolder">@Html.DisplayNameFor(model => model[0].Date)</span></h3>
                </th>
                <th>
                    <h3 style="font-size: medium"><span style="font-weight:bolder">@Html.DisplayNameFor(model => model[0].Client)</span></h3>
                </th>
                <th>
                    <h3 style="font-size: medium"><span style="font-weight:bolder">@Html.DisplayNameFor(model => model[0].Service)</span></h3>
                </th>
                <th>
                    <h3 style="font-size: medium"><span style="font-weight:bolder">@Html.DisplayNameFor(model => model[0].Category)</span></h3>
                </th>
                <th>
                    <h3 style="font-size: medium"><span style="font-weight:bolder">@Html.DisplayNameFor(model => model[0].Worker)</span></h3>
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td class="col-lg-1">
                    <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.Id)</span>
                </td>
                <td class="col-lg-1">
                    <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.Date)</span>
                </td>
                <td class="col-lg-2">
                    <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.Client)</span>
                </td>
                <td class="col-lg-1">
                    <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.Service)</span>
                </td>
                <td class="col-lg-2">
                    <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.Category)</span>
                </td>
                <td class="col-lg-2">
                    <span style="font-size: 17px;">@Html.DisplayFor(modelItem => item.Worker)</span>
                </td>
                <td class="col-lg-2">
                    <button type="button" class="btn btn-warning col-lg-5" onclick="location.href='@Url.Action("EditAppointment", "Admin", new { id = item.Id })';return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-pencil"></span>Edit</button>
                    <button type="button" class="btn btn-danger col-lg-6 col-lg-offset-1" onclick="location.href='@Url.Action("DeleteAppointment", "Admin", new { id = item.Id })' ;return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-trash"></span>Delete</button>
                </td>
            </tr>
            }
        </table>
    </div>
</body>
</html>